* {
    font-family: "Lato", sans-serif;
    margin: 0 auto;
    max-width: 1020px;
    box-sizing: border-box;
}

.wrapper {
    padding: 0 40px;
}

.header {
    background-color: #2d303a;
    height: 95px;
    text-transform: uppercase;
    color: #ffffff;
    border-bottom: 6px solid #323746;
    display: flex;
    justify-content: space-between;
}

.header a {
    text-decoration: none;
    color: white;
}

.header__logo {
    padding-left: 41px;
    display: flex;
    align-items: center;
    width: 115px;
    margin: 0;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

h3 {
    font-family: "Lato", sans-serif;
    font-size: 17px;
    letter-spacing: 0.38px;
    font-weight: 900;
}

.header__logo-star {
    color: #eb5055;
}

.navigation {
    margin: 0;
    display: flex;
    align-items: center;
    padding-top: 8px;
}

.header__navigation {
    list-style: none;
    display: flex;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
}

.header__navigation li:last-child {
    padding-right: 40px;
}

.header__navigation-dot {
    color: #494e62;
    padding-right: 13px;
    padding-left: 14px;
}

.header__navigation a:hover {
    color: #f06c64;
}

.main__content {
    background-color: #f06c64;
    height: 600px;
    position: relative;
    border-bottom: 6px solid #ea676b;
}

.chevleft {
    position: absolute;
    left: 42px;
    top: 50%;
    margin-top: -18px;
}

.chevleft:hover {
    cursor: pointer;
}

.phone_shadow {
    position: absolute;
    left: 112px;
    top: 53px;
    z-index: 1;
}

.phone_base {
    position: absolute;
    top: 53px;
    left: 112px;
    z-index: 2;
}

.mobile__vertical {
    position: absolute;
    width: 188px;
    top: 118px;
    left: 126px;
    height: 333px;
    z-index: 9;
    background-image: url(assets/img/slide/Layer-vertical.png);
    background-repeat: no-repeat;
    background-position: -14px -135px;
}

.mobile__horizontal {
    position: absolute;
    width: 334px;
    height: 189px;
    background-image: url(assets/img/slide/Layer-horizontal.png);
    background-repeat: no-repeat;
    top: 188px;
    right: 202px;
    z-index: 9;
    background-position: -124px -119px;
}

.phone_shadow-horizontal {
    position: absolute;
    top: 54px;
    right: 233px;
    transform: scaleY(-1) rotate(90deg);
    z-index: 1;
}

.phone_base-horizontal {
    position: absolute;
    transform: rotate(90deg);
    top: 53px;
    left: 546px;
    z-index: 2;
}

.chevright {
    position: absolute;
    right: 40px;
    top: 50%;
    margin-top: -18px;
}

.chevright:hover {
    cursor: pointer;
}

.main__services {
    height: 500px;
    background-color: #f2f2f2;
    color: #767e9e;
    border-bottom: 6px solid #ffffff;
}

.section__header {
    padding: 60px 0 43px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.section__title {
    font-size: 30px;
    padding-bottom: 17px;
    font-family: "Lato";
    font-weight: 900;
    color: #666d89;
}

.section__description {
    line-height: 30px;
    letter-spacing: 0.61px;
    color: #666d89;
    text-overflow: ellipsis;
}

.section_3_colums {
    display: flex;
    justify-content: space-between;
    padding-bottom: 30px;
}

.section_colums {
    display: flex;
    justify-content: space-between;
    width: 300px;
    margin: 0;
}

.section_colums_image {
    padding-right: 21px;
    padding-top: 4px;
}

.text_content {
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: justify;
    padding-top: 9px;
}

.portfolio {
    height: 869px;
    color: #666d89;
    background-color: #2d303a;
    display: flex;
    flex-direction: column;
    border-bottom: 6px solid #323746;
}

.portfolio__header {
    padding-bottom: 11px;
}

.portfolio_tags-list {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.portfolio_tags-list li {
    margin: 0;
    font-size: 12px;
    border: 1px solid #666d89;
    border-radius: 5px;
    padding: 2px 7px 3px;
}

.portfolio_tags-list li:hover {
    border: 1px solid white;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.portfolio_tags-list li + li {
    margin-left: 8px;
}

.portfolio_image {
    display: flex;
    padding: 20px 0 67px;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 618px;
    overflow: hidden;
}

.portfolio_image-slide {
    margin: 0;
    margin-bottom: 16px;
}

.about {
    border-bottom: 6px solid #ffffff;
    background-color: #f2f2f2;
    height: 734px;
    color: #666d89;
}

.section__person {
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
}

.about__person {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 300px;
}

.about__person-name {
    margin: 0;
    padding-top: 13px;
    padding-bottom: 9px;
    white-space: nowrap;
    overflow: hidden;
}

.about__person-description {
    font-size: 12px;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
}

.about__section-links {
    margin: 0;
}

.about__section-list {
    display: flex;
    list-style: none;
    padding-top: 25px;
    padding-left: 0;
}

.about__section-list li+li {
    padding-left: 8px;
}

.section__callback {
    height: 654px;
    background-color: rgb(240, 108, 100);
    color: #f0d8d9;
    border-bottom: 6px solid #ea676b;
}

.callback__title {
    padding-top: 67px;
    padding-bottom: 42px;
    color: #f0d8d9;
}

.title__header {
    padding-bottom: 30px;
    font-size: 30px;
    line-height: 18px;
    letter-spacing: -0.1px;
    font-family: "Lato", sans-serif;
    font-weight: 900;
}

.title__content {
    font-size: 18px;
    line-height: 29px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: justify;
    letter-spacing: -0.25px;
}

.callback__form {
    display: flex;
    justify-content: space-between;
}

.form__area {
    margin-top: 2px;
}

.form__submit:hover {
    font-size: 15px;
    border: 1px solid #2d303a;
    transition: 0.3s;
    cursor: pointer;
}

.callback__description {
    margin: 0;
    padding-left: 20px;
}

.description__title {
    margin-bottom: 8px;
    font-weight: 900;
}

.description__content {
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: -0.5px;
}

.description__info {
    margin-top: 23px;
    font-size: 12px;
}

.info__phone {
    margin-bottom: 7px;
}

.info__phone img {
    padding-right: 12px;
}

.info__email img {
    padding-right: 10px;
}

.info__phone a,
.info__email a {
    text-decoration: none;
    color: #f0d8d9;
}

.info__location {
    margin-bottom: 6px;
}

.info__location img {
    padding-left: 3px;
    padding-right: 13px;
}

.callback__form input,
textarea {
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
    color: #e87675;
    width: 620px;
    margin-bottom: 15px;
    outline: none;
    padding-left: 15px;
}

.callback__form input {
    height: 38.5px;
}

.callback__form textarea {
    height: 202px;
    resize: none;
}

.callback__form input::placeholder,
textarea::placeholder {
    font-family: "Lato";
    font-weight: 400;
    color: #e87675;
    font-size: 12px;
    padding-top: 9px;
    letter-spacing: -0.15px;
}

.footer {
    background-color: #2d303a;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__info {
    margin: 0;
    padding-left: 42px;
    color: #666d89;
    font-size: 11px;
    letter-spacing: 0.3px;
}

.social__links {
    margin: 0;
    padding-right: 40px;
    cursor: pointer;
}

.social__links img {
    padding-left: 5px;
    margin-top: 3px;
}

@-moz-document url-prefix() {
    .header__logo {
        padding-bottom: 3px;
        letter-spacing: -0.25px;
    }

    .header__navigation {
        letter-spacing: 0.8px;
    }
}