* {
    font-family: "Lato", sans-serif;
    margin: 0 auto;
    max-width: 1020px;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

.wrapper {
    padding: 0 40px;
}

#section__header {
    position: sticky;
    top: 0;
    z-index: 20;
}

.header {
    background-color: #2d303a;
    height: 95px;
    text-transform: uppercase;
    color: #ffffff;
    border-bottom: 6px solid #323746;
    display: flex;
    justify-content: space-between;
}

.navigation__link {
    text-decoration: none;
    color: white;
}

.header__logo {
    padding-left: 41px;
    display: flex;
    align-items: center;
    margin: 0;
}

.header__logo a {
    text-decoration: none;
}

h1 {
    font-size: 24px;
    font-weight: 700;
    color: #ffffff;
}

h3 {
    font-family: "Lato", sans-serif;
    font-size: 17px;
    letter-spacing: 0.38px;
    font-weight: 900;
}

.header__logo-star {
    color: #eb5055;
}

.navigation {
    margin: 0;
    display: flex;
    align-items: center;
    padding-top: 8px;
}

.header__navigation {
    list-style: none;
    display: flex;
    font-size: 10px;
    font-weight: 700;
    letter-spacing: 1px;
}

.header__navigation li:last-child {
    padding-right: 40px;
}

.header__navigation-dot {
    color: #494e62;
    padding-right: 13px;
    padding-left: 14px;
}

.header__navigation a:hover {
    color: #f06c64;
}

.slide__content {
    background-color: #f06c64;
    height: 600px;
    position: relative;
    border-bottom: 6px solid #ea676b;
}

.slider__background {
    background: #648BF0;
    width: 100%;
    height: 100%;
    position: absolute;
}

.chevleft {
    position: absolute;
    left: 42px;
    top: 50%;
    margin-top: -18px;
}

.chevleft:hover {
    cursor: pointer;
}

.phone_shadow {
    position: absolute;
    left: 112px;
    top: 53px;
    z-index: 1;
}

.phone_base {
    position: absolute;
    top: 53px;
    left: 112px;
    z-index: 2;
}

.mobile__vertical {
    position: absolute;
    width: 188px;
    top: 118px;
    left: 126px;
    height: 333px;
    z-index: 9;
    background-image: url(assets/img/slide/Layer-vertical.png);
    background-repeat: no-repeat;
    background-position: -14px -135px;
}

.mobile__horizontal {
    position: absolute;
    width: 334px;
    height: 189px;
    background-image: url(assets/img/slide/Layer-horizontal.png);
    background-repeat: no-repeat;
    top: 188px;
    right: 202px;
    z-index: 9;
    background-position: -124px -119px;
}

.phone_shadow-horizontal {
    position: absolute;
    top: 54px;
    right: 233px;
    transform: scaleY(-1) rotate(90deg);
    z-index: 1;
}

.phone_base-horizontal {
    position: absolute;
    transform: rotate(90deg);
    top: 53px;
    right: 259px;
    z-index: 2;
}

.chevright {
    position: absolute;
    right: 40px;
    top: 50%;
    margin-top: -18px;
}

.chevright:hover {
    cursor: pointer;
}

.phone__small-left {
    position: absolute;
    left: 252px;
    top: 152px;
    z-index: 1;
    opacity: 0.5;
}

.phone__big-center {
    position: absolute;
    left: 383px;
    top: 43px;
    z-index: 2;
}

.phone__small-right {
    position: absolute;
    left: 612.16px;
    top: 152px;
    z-index: 1;
    opacity: 0.5;
}

.slider__section {
    animation-name: sladeshow;
    animation-duration: 1.5s;
}

@keyframes sladeshow {
    from {
        opacity: .4;
    }
    to {
        opacity: 1;
    }
}

.main__services {
    height: 500px;
    background-color: #f2f2f2;
    color: #767e9e;
    border-bottom: 6px solid #ffffff;
}

.section__header {
    padding: 60px 0 43px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
}

.section__title {
    font-size: 30px;
    padding-bottom: 17px;
    font-family: "Lato";
    font-weight: 900;
    color: #666d89;
}

.section__description {
    line-height: 30px;
    letter-spacing: 0.61px;
    color: #666d89;
    overflow: hidden;
    max-height: 60px;
}

.section_colums_wraper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-bottom: 30px;
}

.section_colums {
    display: flex;
    justify-content: space-between;
    width: 32%;
    margin: 0 0 30px;
}

.section_colums_image {
    padding-right: 21px;
    padding-top: 4px;
}

.text_content {
    font-size: 12px;
    font-weight: 400;
    line-height: 21px;
    text-align: justify;
    padding-top: 9px;
    max-height: 72px;
    overflow: hidden;
}

.portfolio {
    height: 869px;
    color: #666d89;
    background-color: #2d303a;
    display: flex;
    flex-direction: column;
    border-bottom: 6px solid #323746;
}

.portfolio__header {
    padding-bottom: 11px;
}

.portfolio_tags-list {
    display: flex;
    list-style: none;
    padding-left: 0;
}

.portfolio_tags-list li {
    margin: 0;
    font-size: 12px;
    border: 1px solid #666d89;
    border-radius: 5px;
    padding: 2px 7px 3px;
}

.portfolio_tags-list li:hover {
    border: 1px solid white;
    cursor: pointer;
    color: white;
    transition: 0.3s;
}

.portfolio_tags-list-active {
    border: 1px solid white !important;
    color: white;
}

.portfolio_tags-list li + li {
    margin-left: 8px;
}

.portfolio_image {
    display: flex;
    padding-top: 20px;
    flex-wrap: wrap;
    justify-content: space-between;
    max-height: 618px;
    overflow: hidden;
}

.portfolio_image div{
    margin: 0;
    margin-bottom: 16px;
    display: inline-block;
}

.image:hover {
    cursor: pointer;
}

.image__border {
    border: 5px solid #F06C64;
    width: 215px;
    height: 187px;
}

.about {
    border-bottom: 6px solid #ffffff;
    background-color: #f2f2f2;
    height: 734px;
    color: #666d89;
}

.section__person {
    display: flex;
    justify-content: space-between;
    padding-top: 2px;
}

.about__person {
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    width: 32%;
}

.about__person-foto img {
    width: 100%;
}

.about__person-name {
    margin: 0;
    padding-top: 13px;
    padding-bottom: 9px;
    white-space: nowrap;
    overflow: hidden;
}

.about__person-description {
    font-size: 12px;
    line-height: 20px;
    max-height: 40px;
    overflow: hidden;
    text-align: justify;
}

.about__section-links {
    margin: 0;
}

.about__section-list {
    display: flex;
    list-style: none;
    padding-top: 25px;
    padding-left: 0;
}

.about__section-list li+li {
    padding-left: 8px;
}

.section__callback {
    height: 654px;
    background-color: rgb(240, 108, 100);
    color: #f0d8d9;
    border-bottom: 6px solid #ea676b;
}

.callback__title {
    padding-top: 67px;
    padding-bottom: 42px;
    color: #f0d8d9;
}

.title__header {
    padding-bottom: 30px;
    font-size: 30px;
    line-height: 18px;
    letter-spacing: -0.1px;
    font-family: "Lato", sans-serif;
    font-weight: 900;
}

.title__content {
    font-size: 18px;
    line-height: 29px;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    text-align: justify;
    letter-spacing: -0.25px;
    max-height: 58px;
    overflow: hidden;
}

.callback__form {
    display: flex;
    justify-content: space-between;
}

.form__area {
    margin-top: 2px;
}

.form__submit:hover {
    font-size: 15px;
    border: 1px solid #2d303a;
    transition: 0.3s;
    cursor: pointer;
}

.callback__description {
    margin: 0;
    padding-left: 20px;
}

.description__title {
    margin-bottom: 8px;
    font-weight: 900;
}

.description__content {
    font-size: 12px;
    line-height: 22px;
    text-align: justify;
    letter-spacing: -0.5px;
    max-height: 81px;
    overflow: hidden;
}

.description__info {
    margin-top: 30px;
    font-size: 12px;
}

.info__phone {
    margin-bottom: 7px;
}

.info__phone img {
    padding-right: 12px;
}

.info__email img {
    padding-right: 10px;
}

.info__phone a,
.info__email a {
    text-decoration: none;
    color: #f0d8d9;
}

.info__location {
    margin-bottom: 6px;
}

.info__location img {
    padding-left: 3px;
    padding-right: 13px;
}

.callback__form input,
textarea {
    background-color: #d6564f;
    border: none;
    border-radius: 5px;
    color: #e87675;
    width: 620px;
    margin-bottom: 15px;
    outline: none;
    padding-left: 15px;
}

.callback__form input {
    height: 38.5px;
}

.callback__form textarea {
    height: 202px;
    resize: none;
}

.callback__form input::placeholder,
textarea::placeholder {
    font-family: "Lato";
    font-weight: 400;
    color: #e87675;
    font-size: 12px;
    padding-top: 9px;
    letter-spacing: -0.15px;
}

.bordered {
    border: 1px solid red !important;
}

.callback__form__modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 60%;
    max-width: 100%;
    max-height: 100%;
    background-color: cadetblue;
    padding: 2%;
    z-index: 22;
}

.footer {
    background-color: #2d303a;
    height: 76px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer__info {
    margin: 0;
    padding-left: 42px;
    color: #666d89;
    font-size: 11px;
    letter-spacing: 0.3px;
}

.social__links {
    margin: 0;
    padding-right: 40px;
    cursor: pointer;
}

.social__links img {
    padding-left: 5px;
    margin-top: 3px;
}

@-moz-document url-prefix() {
    .header__logo {
        padding-bottom: 3px;
        letter-spacing: -0.25px;
    }

    .header__navigation {
        letter-spacing: 0.8px;
    }
}

.hidden {
    opacity: 0;
}

.hamburger {
    position: relative;
    width: 25px;
    height: 20px;
    display: none;
    z-index: 30;
}

.hamburger__line {
    position: absolute;
    display: inline-block;
    background: white;
    border-radius: 5px;
    height: 3px;
    width: 100%;
    top: calc(50% - 1.5px);
    left: 0;
}

.hamburger::before {
    content: '';
    position: absolute;
    display: inline-block;
    background: white;
    border-radius: 5px;
    height: 3px;
    width: 100%;
    top: 0;
    left: 0;
}

.hamburger::after {
    content: '';
    position: absolute;
    display: inline-block;
    background: white;
    border-radius: 5px;
    height: 3px;
    width: 100%;
    bottom: 0;
    left: 0;
}

.hamburger__navigation {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 278px;
    margin-top: 9px;
    margin-left: 9px;
    padding-top: 232px;
    padding-left: 62px;
    height: 100vh;
    background: #2D303A;
    box-shadow: 0px -40px 20px rgba(0, 0, 0, 0.4);
    z-index: 20;
    display: none;
}

.hamburger__navigation_link {
    color: white;
    margin: 0;
    padding-bottom: 27px;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 24px;
    line-height: 29px;
    letter-spacing: -0.035em;
}

.hamburger__navigation_layer{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #2D303A;
    opacity: 0.6;
}

@media screen and (max-device-width: 768px) {
    .navigation {
        padding-top: 2px;
    }
    .slide__content {
        height: 452px;
    }

    .chevleft {
        left: 31px;
        margin-top: -8px;
    }

    .chevright {
        right: 27px;
        margin-top: -8px;
    }

    .mobile__vertical {
        width: 143px;
        height: 251px;
        left: 94px;
        top: 91px;
    }

    .mobile__horizontal {
        height: 141px;
        width: 251px;
        top: 143px;
        left: 365px;
    }

    .phone_shadow {
        width: 180px;
        height: 364px;
        left: 84px;
        top: 41px;;
    }

    .phone_base {
        width: 162px;
        height: 345px;
        top: 40.5px;
        left: 84px;
    }

    .phone_shadow-horizontal {
        width: 181px;
        top: 40px;
        left: 411px;
    }

    .phone_base-horizontal {
        left: 411px;
        top: 41px;
        width: 163px;
    }

    .phone__small-left {
        left: 22%;
        top: 20%;
        width: 20%;
    }

    .phone__small-right {
        left: 62.5%;
        top: 20%;
        width: 20%;
    }

    .phone__big-center {
        left: 40%;
        top: 10%;
        width: 25%;
    }

    .main__services {
        height: 675px;
    }

    .section__header {
        padding-top: 39px;
    }

    .section__description {
        max-height: 81px;
        letter-spacing: 0.9px;
    }

    .section_colums {
        width: 48.5%;
        margin: 0 0 52px;
    }

    .portfolio {
        height: 1102px;
    }

    .portfolio__header {
        padding-top: 59px;
    }

    .portfolio_image {
        max-height: 827px;
        padding-top: 28px;
        margin-bottom: 20px;
    }

    .portfolio_image div:nth-child(3n+2) {
        margin: 0 20px;
    }

    .portfolio_image-slide {
        width: 31.3%;
    }

    .about {
        height: 668px;
    }

    .about__header {
        padding-top: 51px;
        padding-bottom: 46px;
    }

    .about__person-foto img {
        width: 100%;
    }

    .about__person-name {
        padding-top: 7px;
        padding-bottom: 2px;
    }

    .about__person-description {
        line-height: 22px;
        max-height: 64px;
    }

    .about__section-list {
        padding-top: 12px;
    }

    .section__callback {
        height: 631px;
    }

    .callback__title {
        padding-top: 72px;
        padding-bottom: 29px;
    }

    .title__header {
        line-height: 0; 
        letter-spacing: 0;
        padding-bottom: 37px;
    }

    .title__content {
        max-height: 82px;
    }

    .callback__form input, textarea{
        width: 441px;
        margin-bottom: 11px;
    }

    .callback__form textarea {
        height: 160px;
    }

    .callback__description {
        padding-left: 29px;
    }

    .description__title {
        margin-bottom: 2px;
    }

    .description__content {
        max-height: 110px;
    }

    .description__info {
        margin-top: 35px;
    }
    .footer {
        justify-content: center;
    }

    .footer__info {
        display: none;
    }

    .social__links {
        padding-right: 0;
    }
}

@media screen and (max-device-width: 375px) {
    .hamburger {
        display: inline-block;
    }

    .header {
        height: 71px;
        border: none;
    }

    .hamburger__menu_active {
        transform: rotate(90deg);
    }

    h1 {
        font-size: 19px;
    }

    .navigation {
        display: none;
    }

    .header__logo {
        width: 100%;
        padding-left: 20px;
    }

    .header__logo a {
        margin: 0;
        padding-left: 103px;
    }
    
    .hamburger {
        display: inline-block;
        margin: 0;
    }

    .slide__content {
        height: 220px;
    }

    .chevleft {
        left: 9px;
    }
    
    .chevright {
        right: 9px;
    }

    .mobile__vertical {
        top: 44px;
        left: 46px;
        width: 69px;
        height: 121px;
    }

    .mobile__horizontal {
        top: 70px;
        left: 177px;
        width: 122px;
        height: 70px;
    }

    .phone_shadow {
        width: 89px;
        height: 177px;
        left: 41px;
        top: 20px;
    }

    .phone_base {
        width: 79px;
        height: 168px;
        left: 41px;
        top: 20px;
    }

    .phone_shadow-horizontal {
        top: 20px;
        left: 200px;
        width: 89px;
    }

    .phone_base-horizontal {
        width: 79px;
        top: 21px;
        left: 200px;
    }

    .wrapper {
        padding: 0 32px;
    }

    .main__services {
        height: 1032px;
    }

    .section__header {
        padding-top: 26px;
        padding-bottom: 26px;
    }

    .section__description {
        max-height: 210px;
    }

    .section_colums {
        width: 100%;
        margin: 0 0 27px;
    }

    .portfolio {
        height: 845px;
    }

    .portfolio__header {
        padding-top: 42px;
        padding-bottom: 18px;
    }

    .portfolio_image {
        max-height: 585px;
        padding-top: 25px;
    }

    .portfolio_image div {
        margin-bottom: 10px;
        width: 47%;
    }

    .portfolio_image div:nth-child(2n) {
        margin-left: 10px;
    }

    .portfolio_image-slide {
        width: 45%;
    }

    .portfolio_image-slide img {
        width: 151px;
        height: 128px;
    }

    .portfolio_image div:nth-child(3n+2) {
        margin: 0;
    }

    .about {
        height: 1752px;
    }

    .about__person {
        width: 100%;
        padding-bottom: 31px;
    }

    .about__person-foto {
        margin: 0;
        width: 100%;
    }

    .about__person-name {
        padding-top: 14px;
    }

    .section__person {
        flex-wrap: wrap;
    }

    .about__header {
        padding-top: 32px;
    }

    .section__callback {
        height: 972px;
    }

    .callback__title {
        padding-top: 64px;
    }

    .title__content {
        max-height: 206px;
    }

    .callback__form {
        flex-wrap: wrap;
    }

    .callback__form input, textarea {
        width: 100%;
    }

    .callback__description {
        padding: 30px 0;
    }

    .description__info {
        margin-top: 15px;
    }
}

.close {
    display: none;
}

.open {
    display: flex;
}

.navigation__active {
    color: #f06c64;
}
